.blockCell{
	display:inline-block;
	background-color: #dbd763;
}
.container{
	width:100%;
	margin: unset;
}
.wrapper{
	width:100%;
}
.blockRow{
	padding-top : 5px;
	background-color: #34cdeb;
	border : 1px solid black;
}
.hide{
	display:none;
}
.modal-dialog{
	overflow-y: initial !important
}
.modal-body{
	height: 50%;
	overflow-y: auto;
}
.valide{
	background-color : #77eb34;
}
.invalide{
	background-color : #eb4034;
}